@(user: models.core.user.UserModel)

@import helper._

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>

                <h2 class="card-title">@Messages("userAdmin.editUser.editPassword.header")</h2>
                @if(flash.containsKey("passwordDanger")){
                    <div class="alert alert-danger" role="alert">
                    @flash.get("passwordDanger")
                    </div>
                }
                @if(flash.containsKey("passwordWarning")){
                    <div class="alert alert-danger" role="alert">
                    @flash.get("passwordWarning")
                    </div>
                }
                @if(flash.containsKey("passwordSuccess")){
                    <div class="alert alert-success" role="alert">
                    @flash.get("passwordSuccess")
                    </div>
                }
            </header>
            <form class="form-horizontal form-bordered form-bordered" action="@controllers.userAdmin.routes.CreateUserController.createUser()" method="post">
                <div class="card-body">
                    @CSRF.formField
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="password">@Messages("account.password.newPassword")</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input id="password" pattern="(?=^.{11,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" type="password" name="password" class="form-control" data-plugin-maxlength maxlength="255" required autocomplete="off" />
                            </div>
                            <p>
                                <code>Max length</code> set to 255.
                            </p>
                            <p>
                                <code>Password</code> must contains minimum 12 chars, one uppercase letter, one lowercase letter, one number and one special char.
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="confirmPassword">@Messages("account.password.confirmPassword")</label>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-unlock"></i>
                                </span>
                                <input id="confirmPassword" type="password" name="confirmPassword" class="form-control" data-plugin-maxlength maxlength="255" autocomplete="off" required>
                            </div>
                            <p>
                                <code>Max length</code> set to 255.
                            </p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-right">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary col-sm-3">@Messages("form.submit")</button>
                            <button type="reset" class="btn btn-default col-sm-3">@Messages("form.reset")</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
</div>