<!-- vendor -->
<script src="@routes.Assets.versioned("admin/vendor/jquery/jquery.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/popper/umd/popper.min.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap/js/bootstrap.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/common/common.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/nanoscroller/nanoscroller.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-placeholder/jquery-placeholder.js")"></script>

    <!-- vendor -->
<script src="@routes.Assets.versioned("admin/vendor/jquery-ui/jquery-ui.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/select2/js/select2.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-multiselect/bootstrap-multiselect.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/jquery-maskedinput/jquery.maskedinput.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-timepicker/bootstrap-timepicker.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/fuelux/js/spinner.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/dropzone/dropzone.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-markdown/js/markdown.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-markdown/js/to-markdown.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-markdown/js/bootstrap-markdown.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/lib/codemirror.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/addon/selection/active-line.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/addon/edit/matchbrackets.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/mode/javascript/javascript.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/mode/xml/xml.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/mode/htmlmixed/htmlmixed.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/CodeMirror/mode/css/css.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/summernote/summernote-bs4.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/bootstrap-maxlength/bootstrap-maxlength.js")"></script>
<script src="@routes.Assets.versioned("admin/vendor/ios7-switch/ios7-switch.js")"></script>

    <!-- Theme Base, Components and Settings -->
<script src="@routes.Assets.versioned("admin/js/theme.js")"></script>

    <!-- Theme Custom -->
<script src="@routes.Assets.versioned("admin/js/custom.js")"></script>

    <!-- Theme Initialization Files -->
<script src="@routes.Assets.versioned("admin/js/theme.init.js")"></script>

    <!-- Examples -->
<script src="@routes.Assets.versioned("admin/js/examples/examples.advanced.form.js")"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38672766-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38672766-2');
</script>
<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-right.png"> </a>
